.navigation-mobile {
    position: absolute;
    top: .1rem;
    font-size: 1.5rem;
    left: 0;
    width: 300px;
    right: 0;
    margin: 0 auto;
    display: none;
    // background-color: $color-secondary;
    height: 100vh;
    min-height: 500px;

    .menu li .logo {
        background-color: $color-primary;
    }

    .menu {
        text-align: center;
        list-style: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.47rem 0 3rem;

        ul {

        }
    }

    &.is-active {
        z-index: 5;
        display: flex;
    }
}
