svg path {
	fill: black !important;
}

.navigation {
	position: fixed;
	top: 0;
	font-family: $primary-font;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
	font-weight: bold;
	width: 100%;
	z-index: 4;
	display: flex;
	justify-content: space-between;

	&:not(.navigation-blog) {
		padding: .3rem 0;
	}

	.logo {
		display: block;
		text-align: center;
		margin:0 auto;
		max-width: none;
		max-height: none;
	}

	.menu {
		@include media-breakpoint-up(md) {
			display: flex;
			list-style: none;
		}

		&.menu-right {
			align-items: center;
			// padding: rem 0;
			li {
				padding: 0;
				text-align: center;
				margin: 0 6px;
				&:first-child { margin-right: 1rem; }

				a {
					display: block;
				}
			}
		}
	}


}
