svg path {
	fill: black !important;
}
.navigation {
	font-family: $primary-font;
	text-transform: uppercase;
	font-size: .63rem;
	letter-spacing: 2.5px;
	padding: 11px 0;
	position: absolute;
	width: 100%;
	z-index: 4;

	.logo-mobile .logo {
		margin: 0 auto;
	}

	#navigation-open {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: white;
		height: 45px;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		&.animated:before {
			display: block;
			transform: scale(30);
			width: 100%;
			height: 100%;
		}

		&:before {
			width: 0;
			height: 0;
			transform: scale(1);
			background-color: white;
			content: " ";
			// display: none;
			position: absolute;
			transition: all .6s ease;
    		position: absolute;

		}
	}

	ul {
		display: none;
		@include media-breakpoint-down(md) {
			// display: none;
			// background: black;
			width: calc(100% - 24px);
			height: 100vh;
			position: fixed;
			top: 40px;
			z-index: 4;
			text-align: center;

			a { color: black; }
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			justify-content: space-around;
			list-style: none;
		}

		li {
			@include media-breakpoint-down(md) {
				display: block;
				padding: 2rem 0;
			}
			.logo { vertical-align: middle; }
		}
	}


}

.navigation-blog {
	position: relative;
	background-color: white;
	padding-left: $container-padding-x;
	padding-right: $container-padding-x;
	display: flex;
	justify-content: space-between;

	@include media-breakpoint-up(md) {
		border-bottom: 1px solid #D7D7D7;
	}

	.logo {
		display: block;
	}

	a {
		color: $color-secondary;
	}

	ul {
		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
		}

		li {
			padding-left: .75rem;
			padding-right: .75rem;
			&.logo-wrapper {
				order: 1;
				padding-left: 0;
			}
			&:not(.logo-wrapper) {
				order: 2;
			}
		}

	}

}
