svg path {
	fill: black !important;
}
.navigation {
	font-family: $primary-font;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
	font-weight: bold;
	padding: 6px 0;
	position: absolute;
	width: 100%;
	z-index: 4;

	a {
		transition: color .3s ease;
		&:hover {
			color: $grey-light;
		}
	}

	.logo-mobile .logo {
		margin: 0 auto;
	}

	.menu {
		display: none;

		li .logo {vertical-align: middle; }

		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-around;
			list-style: none;
		}


		@include media-breakpoint-down(sm) {
			width: calc(100% - 24px);
			position: fixed;
			left: 12px;
			text-align: center;

			li {
				display: block;
				padding: 1.25rem 0;
			}

			a { color: black; }

			&.menu-left {
				top: 40px;
				height: 100vh;
				z-index: 4;
			}

			&.menu-right {
				bottom: 40px;
				z-index: 5;

				li {
					display: inline-block;
					padding: 6px 0px !important;
					margin: 0 6px;
				}
				li:first-child {
					display: block;
					margin-bottom: .55rem;
					margin-right: 0;
				 }

			}
		}





	}


}

.navigation-blog {
	position: relative;
	background-color: white;
	padding-left: $container-padding-x;
	padding-right: $container-padding-x;
	display: flex;
	justify-content: space-between;

	@include media-breakpoint-up(md) {
		border-bottom: 1px solid #eee;
	}

	.logo {
		display: block;
		svg {
			width: 47px !important;
			height: 39px !important;
		}
	}

	a {
		color: $color-secondary;
	}

	.menu {
		&.menu-left {
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
			}

			li {
				padding-left: .35rem;
				padding-right: .35rem;
				margin: 0 5px;

				&:last-child {
					margin-right: 0;
				}

				&.logo-wrapper {
					order: 1;
					padding-left: 0;
				}

				&:not(.logo-wrapper) {
					order: 2;
				}
			}
		}

		&.menu-right {
			li {
				min-width: 44px;
				padding: 0;
				text-align: center;
				background-color: #eee;

				&:first-child {
					background-color: transparent;
					margin-right: 10px;
					a {
						color: $grey-light;
					}
				}

				a {
					display: block;
				}
			}
		}
	}

}

#navigation-open {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	height: 45px;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&.animated:before {
		display: block;
		transform: scale(30);
		width: 100%;
		height: 100%;
	}

	&:before {
		width: 0;
		height: 0;
		transform: scale(1);
		background-color: white;
		content: " ";
		// display: none;
		position: absolute;
		transition: all .6s ease;
		position: absolute;

	}
}
