.sticky {
    background-color: white;
    padding-top: 1.75rem;

    @include media-breakpoint-down(sm) {
        padding-top: 0;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
        padding-right: $container-padding-x;
    }

}
