.logo {
    max-height: 37px;

    &.logo-xs {
        svg {
            width: 57px;
            height: 37px;
        }
    }

    &.logo-white {
        svg path {
            fill: white !important;
        }
    }

    &.logo-black {
        svg path {
            fill: black !important;
        }
    }

    &:hover {
        svg path {
            transition: all .3s ease;
            fill: $color-primary !important;
        }
    }
}
