body {
    background: grey;
    margin: 0;
}

a {
    transition: color .2s ease;
}

ul, blockquote {
    margin: 0;
    padding: 0;
}

section {
    background-color: $black;
    padding: 3.5rem 0;
}

blockquote {

    footer {
        display: inline;
    }
}

.logo {
    max-width: 57px;
    height: auto;
}
