html {
    @include media-breakpoint-up(md) {
        font-size: $font-size;
    }
}

body {
    font-size: 1rem;
    line-height: 2rem;
    font-family: $secondary-font;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, .heading header {
    font-family: $primary-font;
    line-height: 1.1;
}

h1, h2, .heading header, .typed-cursor {
    font-size: $font-size-1;
    font-weight: 800;
}

h3 {
    font-size: $font-size-3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h4 {
    font-size: $font-size-2;
    font-weight: 500;
}

h5 {
    font-size: 1rem;
    margin-bottom: .86rem;
    font-weight: 500;
}

h6 {
    font-size: $font-size-3;
}

blockquote {
    line-height: 1.2rem;
}
