@mixin vertical-align($position: relative) {
  position: $position; 
  top: 50%;
  @include transformY(-50%); 
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
