$red: #da4033;
$black: #000;
$grey: #CAC8E2;
$grey-light: #c7c7c7;
$white: #FFF;
$blue-dark: #06041D;

$color-primary: $red;
$color-secondary: $blue-dark;

$font-size: 22px;
$font-size-1: 3.157rem;
$font-size-2: 2.369rem;
$font-size-3: 0.75rem;
$font-size-4: 0.563rem;

$font-size-blog-base: 16px;
$font-size-blog-1: 2.441em;
$font-size-blog-2: 1.953em;
$font-size-blog-3: 1.563em;
$font-size-blog-4: 1.25em;
$font-size-blog-5: 1em;
$font-size-blog-6: .8em;

$container-padding-x: 2rem;
$container-padding-right: 2.5rem;

$primary-font: "Raleway", serif;
$secondary-font: "Merriweather", serif;
