$red: #da4033;
$black: #000;
$grey: #CAC8E2;
$white: #FFF;

$color-primary: $red;

$font-size: 22px;
$font-size-1: 3.157rem;
$font-size-2: 2.369rem;
$font-size-3: 0.75rem;
$font-size-4: 0.563rem;
$primary-font: "Raleway", serif;
$secondary-font: "Merriweather", serif;
