#blog {
  color: $color-secondary;
  font-size: $font-size-blog-base;

  main {
    p {
      font-size: $font-size-blog-5;
      line-height: 1.8;
    }

    a:hover {
      color: $color-primary;
    }
  }

  .article-title a,
  .article-content a,
  .sidebar p a {
    color: $grey-light;
    letter-spacing: 1px;
  }

  .article-feed {
    padding-top: 3.5em;
  }

  .date a:hover,
  .article-information-category:hover {
    color: $color-primary;
  }
}
