#home {
    color: $white;

    .btn-wrapper {
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #start {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        .heading {
            z-index: 2;
            position: relative;
        }

        .container {
            max-width: 620px;
        }

        .icon.icon-mouse {
            position: absolute;
            bottom: 30px;
            z-index: 3;
        }

    }

    .background {
        position: absolute;
        z-index: 1;
        width: 105%;
        height: 105%;
        left: -2%;
        top: -4%;
        background-image: url('/img/background.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .victor {
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
        top: 10%;
    }
}
